* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main .banner {
    width: 100%;
    height: 100vh;
    background-image: url('../image/banner-bg.jpg.webp');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;


}

main .banner header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #fff;
    padding: 20px 40px;
    margin: 0 10%;
    box-shadow: 2px 2px 4px rgba(14, 14, 14, 0.201);
    position: fixed;
    top: 8%;
    z-index: 5;
    transition: all .6s;
}

main .banner header button {
    display: none;
}

main .banner header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

main .banner header nav .ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

main .banner header nav .ul li {
    cursor: pointer;
    transition: color .6s;
}

main .banner header nav .ul .active {
    color: #ffba00;
}

main .banner header nav .ul .li {
    position: relative;
}

main .banner header nav .ul .li .shop {
    min-width: 200px;
    background-color: #fff;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0;
    position: absolute;
    top: 40px;
    gap: 0;
    transition: all 2s ease-in;
}

main .banner header nav .ul .li .shop li {
    width: 100%;
    padding: 20px 40px;
    border-bottom: 1px solid #777;
    color: #ffba00;
}

main .cont {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 50px 90px;

}

main .cont .text h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

main .cont .text .button {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

main .cont .text .button a {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    justify-content: center;
    align-items: center;

    box-shadow: 0 10px 20px rgba(255, 108, 0, 0.2);
    text-decoration: none;

}

main .cont .text .button a span {
    font-size: 22px;
    color: #fff;
}

main .banner header nav .ul .li:hover .shop {
    display: flex;
}

main .banner header nav .ul li:hover {
    color: #ffba00;
}

main .serach {

    position: fixed;
    width: 80%;
    display: none;
    transition: 1s;
    display: flex;
    top: 20%;
    z-index: 5;
    margin: 0 10%;
}

main .serach input {
    width: 100%;

    background: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    padding: 10px 40px;
    color: #fff;
    outline: none;
    border: none;

}

main .serach input::placeholder {
    color: #fff;
}

main section .cont-cart {
    padding: 100px 0px;
    display: flex;

    justify-content: center;
    align-items: center;

}

main section .cont-cart .con {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 40px 0;
    margin: 0 80px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
}

main section .cont-cart .con div {
    width: 25%;
    padding: 0 15px;
    border-right: 1px solid rgb(238, 238, 238);
    text-align: center;

}

main section .cont-cart .con div h6 {
    margin-top: 20px;
}

main section .cont-cart .con div p {
    margin: 0;
}

main section .cont-cart .con div i {
    font-size: 31px;
    cursor: pointer;
}

main section .cont-cart .con div:last-child {
    border-right: none;
}

main section .section3 {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;

}

main section .section3 .catogori {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main section .section3 .catogori img {
    position: relative;
}

main section .section3 .catogori img::before {
    content: 'dffdfd';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rebeccapurple;
    z-index: 3;
}


main .section-4 .late {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

main .section-4 .late .catog {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

main .section-4 .late .catog div img {
    width: 92%;
}

main .section-4 .late .catog div ul {
    display: flex;
    gap: 10px;
    padding: 0;
    margin-top: 20px;
}

main .section-4 .late .catog div ul li i {
    width: 25px;
    height: 25px;
    background: #828bb2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .section-4 .late .catog div ul li {
    display: flex;
    align-items: center;
    transition: all 2s;
}

main .section-4 .late .catog div ul li i {
    font-size: 12px;
}

main .section-4 .late .catog div ul li span {
    display: none;
    transform: translateX(-80px);
    transition: all 2s;
    cursor: pointer;
}

main .section-4 .late .catog div ul li:hover span {
    display: block;
    transform: translateX(3px);
}

main section .section-5 {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

main section .section-5 div {
    width: 50%;
    height: 80vh;
}

main section .section-5 .time {
    background-image: url('../image/exclusive.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    padding: 140px 80px;
    align-items: center;

    position: relative;
    z-index: 1;
}

main section .section-5 .time h2,
main section .section-5 .time p {
    z-index: 4;
    color: #fff;
}

main section .section-5 .time::before {
    content: '';
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    z-index: 2;
}

main section .section-5 .time div {
    width: 230px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    font-size: 30px;
    z-index: 4;
}

main section .section-5 .nike {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section .reklam {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 60px;
    padding: 20px 140px;
}

main section .reklam img {
    width: 13%;
    opacity: 0.4;
}

main section .reklam img:hover {
    opacity: 1;
}

main section .section-6 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

main section .section-6 h2,
main section .section-6 p {
    text-align: center;
}

main section .section-6 .content-1 {
    display: flex;
    justify-content: space-between;

    gap: 40x;
    padding: 60px 100px;
}

main section .section-6 .list-cato {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    align-items: center;

}

main section .section-6 .img-1 {
    width: 30%;
}

main section .section-6 .list-cato div {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

main section .section-6 .list-cato div img {
    width: 35%;
}

main section .section-6 .list-cato div .text-content {
    display: flex;
    flex-direction: column;


}

footer {
    background-color: #222;
    color: #fff;
    padding: 100px 80px 0;
    display: flex;
    flex-direction: column;

}

footer .footer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

footer .footer div .input {
    display: flex;
}

footer .footer div .input input {
    outline: none;
    padding: 10px 20px;
}

footer .footer div .input button {
    border: none;
    width: 40px;
    font-size: 20px;
    background-image: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
}

footer .footer div .icons {
    display: flex;
    gap: 20px;
    font-size: 25px;

}

footer .footer div .icons i {
    opacity: 0.6;
    transition: all .6s ease-in;

}

footer .footer div .icons i:hover {
    opacity: 1;
}

footer .footer div .img {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: flex-start;
}

footer span {
    display: inline-block;
    margin-top: 50px;
    text-align: center;
}

@media (max-width:1000px) {
    main .banner {
        padding-top: 0;
    }

    main .banner header {
        width: 100%;
        height: 80px;
        top: 0;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        overflow: hidden;
        display: block;
    }

    main .banner header button {
        float: right;
        margin: 10px 0;

        border: none;
        outline: none;
        background-color: #fff;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .banner header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    main .banner header nav .ul {
        flex-direction: column;
        margin-top: 40px;
        align-items: flex-start;
        padding: 0 10px;

    }

    main .banner header nav .ul:last-child {
        margin-top: 0;
        gap: 10px;
        flex-direction: row;
    }

    main .banner header nav .ul:last-child li:first-child {
        display: none;
    }

    main .banner header nav .ul .li .shop {
        width: 100vw;
        position: relative;
        top: 2%;

    }

    main .banner header nav .ul .li .shop li {
        width: 100%;
        padding: 20px 40px;
        border-bottom: 1px solid #777;
        color: #ffba00;
    }

    main .cont {

        justify-content: flex-start;

        margin-top: 0px;
        padding: 180px 30px;

    }

    main .cont img {
        display: none;
    }

    main .serach {
        width: 100%;
        top: 70%;
        margin: 0;
    }

    main section .cont-cart {
        padding: 20px 0;

    }

    main section .cont-cart .con {
        flex-wrap: wrap;
    }

    main section .cont-cart .con div {
        width: 50%;
        border: none;
        padding: 20px 15px;
    }

    main section .section3 {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    main section .section3 .catogori {
        justify-content: center;
    }

    main .section-4 .late {
        padding: 40px;
    }

    main .section-4 .late .catog {
        grid-template-columns: auto auto;
    }

    main section .section-5 {
        flex-direction: column;
        gap: 80px;
    }

    main section .section-5 .time {
        justify-content: center;
        align-items: center;
    }

    main section .section-5 div {
        width: 100%;

    }

    main section .reklam {
        margin-top: 120px;
    }

    main section .section-6 .content-1 {
        padding: 60px 70px;
    }

    main section .section-6 .list-cato {
        width: 100%;
    }

    footer {
        padding: 40px 20px;
    }

    footer .footer {
        display: grid;
        grid-template-columns: auto auto;
    }



    main section .section-6 .img-1 {
        display: none;
    }


}
@media (max-width:600px) {
    main .cont .text h1{
        font-size: 30px;
    }
main section .cont-cart .con div{
    width: 100%;
}
main section .section3 .catogori{
    flex-direction: column;
    align-items: center;
}
main section .section3 .catogori img{
  width: 100%;
}
main section .section3 .images img{
    width: 100%;
}
main .section-4 .late{
    padding: 40px 20px;
}
main .section-4 .late .catog{
   grid-template-columns: auto;
}
main section .reklam{
    flex-wrap: wrap;
    gap: 20px;
}
main section .reklam img{
    width: 36%;
}
main section .section-5 .time div{
    width: 100%;
    font-size: 20px;
}
main section .section-6 .content-1{
    padding: 60px 20px;
}
main section .section-6 .list-cato{
    grid-template-columns: auto;
}
footer .footer{
    grid-template-columns: auto;
}
footer .footer div{
    width: 100%;
}
footer .footer div .input input{
    padding: 0;
}
}